<% content_for :title do %>Natalie Dormer<% end %>
<% content_for :description do %>Fan page for Natalie Dormer<% end %>

<div class="container text-center">
  <div class="row">
    <!--<h3 class="text-center">Scraped from Reddit's /r/NatalieDormer top 25 all time.</h3>-->
    <!-- specifically from url => 'https://www.reddit.com/r/NatalieDormer/top.json?sort=top&t=all' -->
    <h2 class="text-center">The Natalie Dormers below are NOT SAFE FOR WORK! <strong style="color:red;">(NSFW)</strong>
    </h2>
    <br>
    
    <br>
    <strong>
      <%= link_to root_path, class:"btn-back-to-home btn-danger" do %>
        Back to home page.
      <% end %>
    </strong>
    <br>
    <br>
    
    
    <% @test5.each do |title, link| %>
    <h2>
      <%= title %> 
      <% link %>
      <br/>
      <% if link[0,4] != "http" && link[0,5] != "https" %>
        <div style='position:relative;padding-bottom:57%'><iframe src='https://gfycat.com/ifr/<%=link%>' frameborder='0' scrolling='no' width='100%' height='100%' style='position:absolute;top:0;left:0;' allowfullscreen></iframe></div>
      <% else %>
        <%= image_tag "#{link}" %> 
      <% end %>
    <br/>
    </h2> 
    <% end %>
    
    <%= link_to '/more2', class:"btn-back-to-home btn-success" do %>
        What about Emma Watson?
    <% end %>
  </div>
</div>
