<% content_for :title do %>Natalie Dormer<% end %>
<% content_for :description do %>Fan page for Natalie Dormer<% end %>

<div class ="container">
  <div class="row">
    <%= image_tag "NatalieDormer.jpg", height: '700', width: '400' %>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h3>Natalie Dormer. Want
      <%= link_to more_path, class:"hidden-link" do  %>
      more?
      <% end %>
      </h3>
    </div>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-4">
        <%= simple_form_for @visitor do |f| %>
          <%= f.error_notification %>
          <%= f.input :email, label: false, :placeholder => 'Your email address...' %>
          <%= f.button :submit, "Get more Dormer!", :class => "btn btn-success" %>
        <% end %>
    </div>
  </div>
</div>

